<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkia1pLuRsbNQefz-0YVFXJGRjasVK2Lg</string>
	<key>GCM_SENDER_ID</key>
	<string>1077626154170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meon.kyc</string>
	<key>PROJECT_ID</key>
	<string>stoxbox-5daa8</string>
	<key>STORAGE_BUCKET</key>
	<string>stoxbox-5daa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077626154170:ios:6cf794b257a449804f6683</string>
	<key>CLIENT_ID</key>
	<string>680768531196-thtl79kon86oesjc155v513iipd0anv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680768531196-thtl79kon86oesjc155v513iipd0anv2</string>
</dict>
</plist>
